@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Urbanist",sans-serif;
}

.container{
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

section{
    padding: 50px 0;
}